@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-dark: #000000;
  --text-light: #767268;
  --extra-light: #eef9f8;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  position: relative;
  isolation: isolate;
  width: fit-content;
  margin-inline: auto;
  padding-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__header::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 3rem;
  background-color: var(--text-dark);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--text-dark);
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.nav__logo img {
  max-width: 220px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color:white;
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 500;
  color:#769c8b;
}

.nav__links a:hover {
  color:#fff;
}


.header__container {
    display: grid;
    padding-block: 0;
    overflow: hidden;
  }
  
  .header__content {
    padding-block: 0 5rem;
  }
  
  .header__content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
  }
  
  .header__content h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
  }
  
  .header__btn {
    text-align: center;
  }

  .about__container {
    display: grid;
    gap: 2rem;
    overflow: hidden;
  }
  
  .about__image img {
    max-width: 500px;
    margin-inline: auto;
  }
  
  .about__content .section__header {
    margin-bottom: 4rem;
  }
  
  .about__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    line-height: 1.75rem;
    text-align: center;
  }
  
  .about__btn {
    margin-top: 4rem;
    text-align: center;
  }

  .portfolio__grid {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
  }
  
  .portfolio__grid > div {
    display: grid;
    gap: 1rem;
  }

  .portfolio__btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .portfolio__btn .btn {
    background-color: #040404;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .portfolio__btn .btn:hover {
    background-color: var(--text-light);
    color: #fff;
  }

  .portfolio__grid img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
  }
  
  .portfolio__grid img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  .lightbox-content img {
    width: 100%;
    height: auto;
  }
  
  .lightbox-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .lightbox-close:hover,
  .lightbox-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .blog__container .section__header {
    margin-bottom: 4rem;
  }
  
  .blog__grid {
    margin-bottom: 4rem;
    display: grid;
    gap: 3rem 2rem;
  }
  
  .blog__card h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
  }
  
  .blog__card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--text-dark);
    font-family: var(--header-font);
  }
  
  .blog__card p {
    line-height: 1.75rem;
    color: var(--text-light);
  }
  
  .blog__btn {
    text-align: center;
  }
  
  .footer__bar {
    padding: 1rem;
    color: var(--text-light);
    text-align: center;
  }

  .footer__bar a {
    text-decoration: none;
    color: inherit;
  }
  

  @media (width > 540px) {
    .header__content h1 {
      font-size: 4.75rem;
    }
  
    .portfolio__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .portfolio__grid > div:nth-child(3) {
      grid-column: 1/3;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .input__row {
      display: flex;
      gap: 2rem;
    }
  
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

@media (width > 768px) {
    nav {
      position: absolute;
      padding: 2rem 1rem;
      max-width: var(--max-width);
      top: 0;
      left: 50%;
      right: 20%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10rem;
    }
  
    .nav__header {
      flex: 1;
      padding: 0;
      background-color: transparent;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      width: auto;
      flex-direction: row;
      background-color: transparent;
      transform: none !important;
    }
  
    .nav__links a:hover {
      color:#fff;
    }
  
    .header__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      isolation: isolate;
    }
  
    .header__image {
      grid-area: 1/2/2/3;
      position: relative;
      height: 100%;
    }
  
    .header__image img {
      position: absolute;
      top: 0;
      right: 0;
      width: unset;
      height: 100%;
      z-index: -1;
    }
  
    .header__content {
      padding-block: 10rem;
    }
  
    .header__content :is(h1, h2, .header__btn) {
      text-align: left;
      
    }
  
    .header__content h1 {
      font-size: 5rem;
    }
  
    .about__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .about__content {
      max-width: 450px;
      margin-inline: auto;
    }
  
    .about__content .section__header {
      margin-inline-start: unset;
    }
  
    .about__content :is(p, .about__btn) {
      text-align: left;
    }
  
    .portfolio__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .portfolio__grid > div:nth-child(3) {
      grid-column: unset;
      grid-template-columns: 1fr;
    }
  
    .blog__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .blog__btn {
      text-align: left;
    }
  
    .contact__container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .contact__content .section__header {
      margin-inline-start: unset;
    }
  
    .contact__content p {
      text-align: left;
    }
  
    .contact__image {
      display: flex;
      position: relative;
      isolation: isolate;
    }
  
    .contact__image img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 450px;
    }
    .footer__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  header, nav, section, footer {
    padding: 1rem;
}

.section__header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.review {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}