<section class="section__container about__container" id="about">
    <div class="about__image">
        <img src="public/images/Untitled-3.jpg" alt="about">
    </div>
    <div class="about__content">
        <h2 class="section__header">About Me</h2>
        <p>
            Hi, I'm Leam Lima, a passionate Photographer and Filmmaker dedicated
            to capturing moments that tell stories. I specialize in creating
            stunning visuals that resonate emotionally and creatively.
        </p>
        <p>
            Whether it's through the lens of a camera or the framing of a
            cinematic shot, I strive to bring authenticity and artistry to every
            moment.
        </p>
    </div>
</section>