<section class="section__container portfolio__container" id="portfolio">
      <h2 class="section__header">Portfolio</h2>
      <div class="portfolio__grid">
        <!-- Portfolio images -->
        <div>
          <a href="images/Portfolio1.jpeg" data-lightbox="portfolio">
            <img src="images/Portfolio1.jpeg" alt="portfolio" />
          </a>
          <a href="images/Portfolio2.jpeg" data-lightbox="portfolio">
            <img src="images/Portfolio2.jpeg" alt="portfolio" />
          </a>
          <a href="images/portfolio3.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio3.jpeg" alt="portfolio" />
          </a>
        </div>
        <div>
          <a href="images/portfolio4.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio4.jpeg"alt="portfolio" />
          </a>
          <a href="images/portfolio7.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio7.jpeg" alt="portfolio" />
          </a>
          <a href="images/portfolio6.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio6.jpeg" alt="portfolio" />
          </a>
        </div>
        <div>
          <a href="images/portfolio8jpeg.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio8jpeg.jpeg"alt="portfolio" />
          </a>
          <a href="images/portfolio9.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio9.jpeg" alt="portfolio" />
          </a>
          <a href="images/portfolio11.jpeg" data-lightbox="portfolio">
            <img src="images/portfolio11.jpeg" alt="portfolio" />
          </a>
        </div>
      </div>
      <div class="portfolio__btn">
        <!-- View more button -->
        <button class="btn">VIEW MORE</button>
      </div>
    </section>